workflows/Main.json
{
  "name": "Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0187496d-c4b0-4036-8c3a-6ee3f66809b2",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        144
      ],
      "id": "6f2a7737-163e-498d-a034-d908ab61cbaa",
      "name": "Webhook",
      "webhookId": "0187496d-c4b0-4036-8c3a-6ee3f66809b2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Confirmação de matrícula",
        "emailType": "text",
        "message": "=Olá {{ $json.Nome }}, sua matrícula no curso {{ $json.Curso }} foi recebida com sucesso!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        -144
      ],
      "id": "f96dc034-bff7-4526-9022-a40677adb892",
      "name": "SendConfirmationEmail",
      "webhookId": "8d35a123-a9cd-4703-b1fe-4ba397f16323",
      "credentials": {
        "gmailOAuth2": {
          "id": "dZXL6xweCJuhzlgU",
          "name": "Gmail account 21"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Kg1FzAnTqHXseZ9S",
          "mode": "list",
          "cachedResultUrl": "/workflow/Kg1FzAnTqHXseZ9S",
          "cachedResultName": "InsertDataIntoDB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ $json.payload }}"
          },
          "matchingColumns": [
            "payload_curso_escolhido"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1408,
        -144
      ],
      "name": "InsertDataIntoDB",
      "id": "f923eb32-bb8c-46fe-937c-cc2671743c67"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "lXXBQUtFf2FGhiys",
          "mode": "list",
          "cachedResultUrl": "/workflow/lXXBQUtFf2FGhiys",
          "cachedResultName": "FormatWebhookData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ $('Webhook').item.json.body }}"
          },
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        -144
      ],
      "id": "12b27a7f-418c-4f91-9ece-0971441e3878",
      "name": "FormatData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96519886-c129-4d75-b1f9-805b0d447be3",
              "leftValue": "={{ $json.result }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        144
      ],
      "id": "4ac53ba1-06b6-4e1c-93bf-f78a9dd274d7",
      "name": "KeysAreValid?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tqzTk3YaPsn0tvyT",
          "mode": "list",
          "cachedResultUrl": "/workflow/tqzTk3YaPsn0tvyT",
          "cachedResultName": "ValidateJSONKeys"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ $json.body }}"
          },
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        144
      ],
      "id": "aee1b5fb-44d9-442a-9b2e-044c79930119",
      "name": "ValidateJSONKeys"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -368
      ],
      "id": "325657f3-1272-4a7a-a8d7-5ae4d82566d3",
      "name": "Error Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SNfAhLbVdBOjZBqe",
          "mode": "list",
          "cachedResultUrl": "/workflow/SNfAhLbVdBOjZBqe",
          "cachedResultName": "ValidateJSONData"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "payload": "={{ $('Webhook').item.json.body }}"
          },
          "matchingColumns": [
            "payload"
          ],
          "schema": [
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        512,
        48
      ],
      "id": "656fd306-679a-4310-916a-b0e9fde40249",
      "name": "ValidateJSONData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "62cdddd4-388e-4333-8461-85c2f543d040",
              "leftValue": "={{ $json.result }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        48
      ],
      "id": "74b9bb1a-1a7a-4f72-b6eb-973b6936b346",
      "name": "DataIsValid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: 400,\n  erro: \"Bad Request\",\n  message: \"Falha na validação das chaves recebidas. É esperado os campos: \" + $json.result.join(' e ') \n}\n}}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        240
      ],
      "id": "7f22299a-0fbb-4d17-8f98-65625bba4df6",
      "name": "Respond400ToWebHook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: 400,\n  erro: \"Bad Request\",\n  message: $json.resut.error,\n  data: $json.resut.data\n}\n}}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        144
      ],
      "id": "741c27bc-4a6d-4556-adba-80afca0be41a",
      "name": "Respond400ToWebHook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d0e4937b-8532-419b-a01e-f86f636488f6",
              "leftValue": "={{ $('Webhook').item.json.body.curso_escolhido.trim().toLowerCase() }}",
              "rightValue": "business",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d3e9f78d-954c-4c8c-a452-28f81ff6d3ed",
              "leftValue": "={{ $('Webhook').item.json.body.curso_escolhido.trim().toLowerCase() }}",
              "rightValue": "tech",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -48
      ],
      "id": "ec9d57f6-c8d3-41c8-bebf-782fe50d3316",
      "name": "IsCourseValid?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  status: 400,\n  erro: \"Bad Request\",\n  message: \"Curso selecionado invalido\",\n  curso: $('Webhook').item.json.body.curso_escolhido\n}\n}}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1184,
        48
      ],
      "id": "6598c366-a226-4aa2-bf1a-1f3ae27f5a8f",
      "name": "Respond400ToWebHook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  result: \"ok\",\n  message: \"Aluno matriculado com sucesso!\"\n}\n}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1792,
        -144
      ],
      "id": "1d9d4732-9e5c-4a54-82c1-e8a62d1b7b50",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "ttc.4blue.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "179.187.13.110",
            "x-real-ip": "179.187.13.110",
            "content-length": "174",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "bruno-runtime/3.1.4",
            "request-start-time": "1773097631767",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "nome_completo": "john smith",
            "email_aluno": "john@4blue.com.br",
            "data_nascimento": "28/02-2020",
            "telefone": "(11) 99999-9999",
            "curso_escolhido": "Business"
          },
          "webhookUrl": "https://ttc.4blue.com.br/webhook/0187496d-c4b0-4036-8c3a-6ee3f66809b2",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "ValidateJSONKeys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertDataIntoDB": {
      "main": [
        [
          {
            "node": "SendConfirmationEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendConfirmationEmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FormatData": {
      "main": [
        [
          {
            "node": "InsertDataIntoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KeysAreValid?": {
      "main": [
        [
          {
            "node": "ValidateJSONData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond400ToWebHook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateJSONKeys": {
      "main": [
        [
          {
            "node": "KeysAreValid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateJSONData": {
      "main": [
        [
          {
            "node": "DataIsValid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DataIsValid?": {
      "main": [
        [
          {
            "node": "IsCourseValid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond400ToWebHook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsCourseValid?": {
      "main": [
        [
          {
            "node": "FormatData",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond400ToWebHook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "mtGIMRxV6OvIGub3"
  },
  "versionId": "789bdbb0-9fc4-450f-8ee9-b4d9534f299c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dc0bcbaed5942825d40eb7dd9dcbb6ab0108046af92a3af9d5e04ea54a24a948"
  },
  "id": "mtGIMRxV6OvIGub3",
  "tags": []
}